<main class="flex flex-column">
  <header class="title-bar flex flex-row flex-center">
    <div class="title-wrapper block center-element">
      <img
        class="logo"
        src="http://feathersjs.com/img/feathers-logo-wide.png"
        alt="Feathers Logo"
      />
      <span class="title">Chat</span>
    </div>
  </header>

  <div class="flex flex-row flex-1 clear">
    <aside
      class="sidebar col col-3 flex flex-column flex-space-between"
      *ngIf="users$ | async as users"
    >
      <header class="flex flex-row flex-center">
        <h4 class="font-300 text-center">
          <span class="font-600 online-count">{{ users.length }}</span> users
        </h4>
      </header>

      <ul class="flex flex-column flex-1 list-unstyled user-list">
        <li *ngFor="let user of users">
          <a class="block relative" href="#">
            <img [src]="user.avatar" alt="" class="avatar" />
            <span class="absolute username">{{ user.email }}</span>
          </a>
        </li>
      </ul>
      <footer class="flex flex-row flex-center">
        <a id="logout" class="button button-primary" (click)="logOut()">
          Sign Out
        </a>
      </footer>
    </aside>

    <div class="flex flex-column col col-9">
      <main
        class="chat flex flex-column flex-1 clear"
        #chat
        [scrollTop]="chat.scrollHeight - chat.clientHeight"
      >
        <div
          class="message flex flex-row"
          *ngFor="let message of messages$ | async"
        >
          <img
            [src]="message.user.avatar"
            [alt]="message.user.email"
            class="avatar"
          />
          <div class="message-wrapper">
            <p class="message-header">
              <span class="username font-600">{{ message.user.email }}</span>
              <span class="sent-date font-300">{{
                message.createdAt | date: 'MMM dd, hh:mm:ss'
              }}</span>
            </p>
            <p class="message-content font-300">{{ message.text }}</p>
          </div>
        </div>
      </main>

      <form class="flex flex-row flex-space-between" id="send-message">
        <input #message type="text" name="text" class="flex flex-1" />
        <button
          class="button-primary"
          (click)="sendMessage(message.value); message.value = ''"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</main>
